table {

    text-align: center;
    height: 400px;
    width: 800px;
    border-collapse: collapse;
}

body {
    background-color: rgb(220, 218, 218);
}

.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    width: 800px;
    padding: 15px;
}

td {
    border-top: 1px solid rgb(193, 175, 175);
}

th {
    border-bottom: 2px solid #aaa;
}

tr:hover{
    background-color: rgb(204, 198, 190);

}

.earth{
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
}

.plane{
    color: blue;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
}

.hockey{
    color: grey;
    background-color: greenyellow;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
}

.bird{
    color: forestgreen;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
}

.tree{
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
}


button{
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    border: 0px;
    padding: 5px;
    width: 100px;

}

.Inactive{
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

button:hover{
    color: darkred;
}
