table {

    text-align: center;
    height: 400px;
    width: 800px;
    border-collapse: collapse;
    text-align: left;
    
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: white;
    width: 800px;
    padding: 15px;
    border-radius: 10px;

}

td {
    border-top: 1px solid rgb(193, 175, 175);
}

th {
    border-bottom: 2px solid #aaa;
}

tr:hover{
    background-color: rgb(204, 198, 190);
}

button{
   float: right;
    background-color: #6a5acd;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
    padding: 8px 15px;
    width: 100px;
    border-style: solid;
    cursor: pointer;
}
.pregreen{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #28a745;
    border: 1px solid #28a745;
}
.preorange{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #ff9800;
    border: 1px solid #ff9800;

}

.prered{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #f44336;
    border: 1px solid #f44336;
}

button:hover{
    color: darkred;
}
.box2{
   background-color: white;
    width: 800px;
    padding: 15px;

}

.box3{
    background-color: lightgray;
    width: 800px;
    padding: 15px;

}

.action-btn {
      display: inline-block;
      font-size: 18px;
      color: #6a5acd;
      cursor: pointer;
      margin: 0 5px;
    }
